<nav class="top-navbar" *ngIf="authService.isLoggedIn()">
  <div class="nav-container">
    <div class="brand">Angular App Sarthon Patel</div>

    <div class="nav-links">
      <a
        routerLink="/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        >Home</a
      >

      <a routerLink="/about" routerLinkActive="active" class="nav-link"
        >About</a
      >

      <a routerLink="/employees" routerLinkActive="active" class="nav-link"
        >Employees</a
      >

      <a routerLink="/login" class="nav-link" (click)="authService.logout()"
        >Logout</a
      >
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
